services:
  bds:
    image: itzg/minecraft-bedrock-server:latest
    ports:
      - "${SERVER_PORT:-19132}:19132/udp"
      - "${SCRIPT_DEBUGGER_PORT:-19144}:19144"
      - "${SCRIPT_DEBUGGER_PORT:-19144}:19144/udp"
    volumes:
      - "./dist_behavior_pack:/data/behavior_packs/BP"
      - "./worlds:/data/worlds"
      - "./config:/data/config"
    environment:
      - SERVER_NAME=Keystone
      - PREVIWE=true
      - EULA=TRUE
      - LEVEL_NAME=DevWorld
      - LEVEL_TYPE=flat
      - GAMEMODE=creative
      - DEFAULT_PLAYER_PERMISSION_LEVEL=operator
      - ALLOW_CHEATS=true
      - ALLOW_OUTBOUND_SCRIPT_DEBUGGING=true
      - ALLOW_INBOUND_SCRIPT_DEBUGGING=true
      - SCRIPT_DEBUGGER_AUTO_ATTACH=listen
      - FORCE_INBOUND_DEBUG_PORT=${SCRIPT_DEBUGGER_PORT:-19144}
      - OPS=${OPS}
    depends_on:
      dev:
        condition: service_completed_successfully
  dev:
    image: node:20.10-alpine
    working_dir: /app
    volumes:
      - ".:/app"
    entrypoint: sh -c "npm install --force && npm run build:app"
    environment:
      - NODE_ENV=development
